.property {
  background: #f2f3f3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  @media screen and (max-width: 1200px) {
    background-color: white;
    box-shadow: none;
  }
  .property__container {
    position: relative;
    padding: 130px 0;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1200px) {
      padding: 30px 0;
    }
    .property__icon {
      position: absolute;
      height: 250px;
      width: 250px;
      top: 60px;
      @media screen and (max-width: 1500px) {
        height: 170px;
        width: 170px;
      }
      @media screen and (max-width: 450px) {
        height: 100px;
        width: 100px;
        top: 45%;
      }
    }
    .property__name {
      position: absolute;
      top: 450px;
      font-size: 36px;
      opacity: 0.4;
      line-height: 36px;
      font-weight: 400;
      @media screen and (max-width: 1500px) {
        font-size: 32px;
      }
      @media screen and (max-width: 1270px) {
        display: none;
      }
    }
    .property__content {
      width: 1200px;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }

      .content__info {
        padding: 0 50px 0 0px;
        margin-top: 20px;
        width: 55%;
        @media screen and (max-width: 1500px) {
          padding: 0 30px 0 70px;
        }
        @media screen and (max-width: 1200px) {
          width: 100%;
          order: 2;
          padding: 0 30px;
        }
        .info__title {
          font-size: 36px;
          color: black;
          font-weight: 500;
          position: relative;
          width: 260px;
          @media screen and (max-width: 450px) {
            font-size: 26px;
            width: 190px;
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            background-color: #008481;
            height: 3px;
            width: 100%;
            margin-top: 20px;
          }
        }
        .info__sub-title {
          margin: 50px 0;
          font-size: 22px;
          font-weight: 400;
          @media screen and (max-width: 450px) {
            font-size: 16px;
            line-height: 24px;
            margin-left: 40px;
          }
        }
        .info__text {
          .text__par {
            font-size: 20px;
            line-height: 30px;
            color: #424754;
            text-align: justify;
            @media screen and (max-width: 450px) {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
      .content__img {
        width: 45%;
        @media screen and (max-width: 1200px) {
          width: 100%;
          order: 1;
          padding: 0 30px;
          img {
            width: 100%;
          }
        }
        @media screen and (max-width: 450px) {
          max-height: 280px;
          img {
            height: 100%;
          }
        }
      }
    }
  }
}

.left {
  .property__container {
    .property__icon {
      left: 0px;
      transform: translateX(-25%);
    }
    .property__name {
      transform: rotate(90deg);
      left: -5%;
      width: auto;
    }

    .property__content {
      .content__info {
        .info__title {
        }
        .info__sub-title {
        }
      }
    }
  }
}

.right {
  .property__container {
    .property__icon {
      right: 0px;
      transform: translateX(25%);
    }
    .property__name {
      transform: rotate(-90deg);
      right: -5%;
    }
  }
}

.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}

.title_mobile_first {
  @media screen and (max-width: 450px) {
    margin-left: 42%;
  }
  @media screen and (max-width: 370px) {
    margin-left: 30%;
  }
  @media screen and (max-width: 340px) {
    margin-left: 25%;
  }
}

.title_mobile_second {
  @media screen and (max-width: 450px) {
    margin-left: 30%;
    width: 250px !important;
  }
  @media screen and (max-width: 410px) {
    margin-left: 20%;
  }
  @media screen and (max-width: 365px) {
    margin-left: 10%;
  }
}

.second__icon {
  @media screen and (max-width: 450px) {
    top: 53% !important;
  }
  @media screen and (max-width: 356px) {
    top: 45% !important;
  }
}
.third__icon {
  @media screen and (max-width: 450px) {
    top: 45% !important;
  }
  @media screen and (max-width: 370px) {
    top: 35% !important;
  }
}
