// Шрифты
$Comfortaa: "Comfortaa", cursive;
$Roboto: "Roboto", sans-serif;

// Цвета

$cGreen: #073031;

// Шаблоны

@mixin blockTitle {
  font-size: 36px;
  color: black;
  font-weight: 500;
}
@mixin blockText {
  font-size: 20px;
  line-height: 30px;
  color: #424754;
  text-align: justify;
}
