@import "./_variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: $Roboto;
}
.highslide-credits {
  display: none !important;
}

.container {
  @import "./_navbar.scss";
  @import "./_intro";
  @import "./property";
  @import "./catalogue";
  @import "./price";
}
